mixin header()
	.header
		h1.header_h1 Create your free account
		p.header_welcome
			|Come and joy to our cool and amazing community, fill in your details to get started. Alredy get an account?
			a.link(href='') Log in.