include bem/header/header.pug
include bem/menu/menu.pug
include bem/aboutus/aboutus.pug
include bem/instruction/instruction.pug
include bem/place/place.pug
include bem/review/review.pug
include bem/footer/footer.pug

html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
        link(rel="stylesheet" href="style.css")
        link(href="https://fonts.googleapis.com/css?")
        link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Aleo" rel="stylesheet")
        link(rel='stylesheet'    href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='icon', href='image/favicon.ico', type='image/x-icon')
        link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
        title Travel More
    body()
        +header()
        +menu()
        +aboutus()
        +instruction()
        +place({
            classes: '',
            })
        +place({
            bg: 'place__sea',
            position: 'place_content__left',
            })
        +review()
        +footer()
