mixin button()
  .button
    .button_row
      label(for='')
        input.button_field.button_field-1-2(placeholder='First name', type='text')
      label(for='')
        input.button_field.button_field-1-2(placeholder='Last name', type='text')
    .button_row
      label(for='')
        input.button_field(placeholder='Email adress', type='text')
    .button_row
      label(for='')
        input.button_field(placeholder='Password', type='text')
    .button_row
      label(for='')
        input.button_field.button_field-sign(name='sign', value='Sign up for free', type='button')