mixin review()

    .review.layout
        .review_content.layout_section
            .review_h1 What 0ur Tourist Say
            .review_container
                .review_avatar
                    img(src='img/review_avatar.jpeg')
                .review_card
                    .review_name Sam Sumon
                    .review_quote But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system