@font-face{
    font-family: 'Gotham';
    src: url(font-gotham/GothamMedium.ttf);
    font-weight: normal;
    font-style: normal;

}
@font-face{
    font-family: 'GothamLight';
    src: url(font-gotham/GothamLight.ttf);
    font-weight: lighter;
    font-style: normal;
}
body{
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'Gotham', sans-serif;
}
.container{
    background: url(bg.jpg);
    background-size: cover; 
}
.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0;
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    background-image: url(logo.svg);
    width: 200px;
    height: 50px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav_item{
    font-weight: 300;
}
.social_button{ 
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
}
i{
    width:10px;
    height: 10px;
    color: white;
}
.h1{
    font-size: 156px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.h2{
    font-size: 72px;
    letter-spacing: 1.2em;
    font-weight: 300;
}
.slide{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
}


