mixin footer()
    footer.footer
        .footer_conteiner
            .footer_h1 Newsletter
            .footer_text If you would like to hear fitst and to receive updates please subscribe to our newsletter.
            fieldset.footer_form
                .footer_button-row
                    label
                        input.button_field.button_email(placeholder='email adress', type='text')
                    label
                        input.button_field.button_send(value='Subscribe', type='button')
            .footer_social
                <div class="social_button social_button__twitter"></div>
                <div class="social_button social_button__Dribbble"></div>
                <div class="social_button social_button__Igram"></div>
                <div class="social_button social_button__Pint"></div>