include ../button/button.pug

mixin place(props)
    .place(class=props.bg).layout
        .place_content(class=props.position).layout_section
            .place_container
                h2.place_h2 Spain
                h1.place_h1 GRAND SPAIN MADRID 
                p.place_p But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                +button({
                        search: false,
                        about: false,
                        place: true,
                    })

