mixin item(props)
    .item
        if (props.glass)
            .instruction_glass
                .icon
                .item_mame Search Places
        if (props.check)
            .instruction_check
                .icon
                .item_mame Select Places 
        if (props.hand)
            .instruction_hand
                .icon
                .item_mame Book & Enjoy