include bem/header/header.pug 
include bem/button/button.pug 
include bem/footer/footer.pug


html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    title
  body
    .main
      fieldset.account-info
        +header()
        +button()
        +footer()
