 .field {
	position: relative;
	min-width: 960px;
	height: 100%;
} 

.main {
    width: 960px;
    height: 960px;
    margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0; 
	border: 20px double black;
}


 .field:before {
   content: '';
   display: block;
   padding-top: 100%;
}  

.white,
.black {
	width: 120px;
	height: 120px;
}

.white {
	background: white;
}

.black {
	background: black;
}

.eighta {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}


.eightb {
	position: absolute;
	top: 0;
	left: 120px;
	right: 0;
	bottom: 0;
}

.eightc {
	position: absolute;
	top: 0;
	left: 240px;
	right: 0;
	bottom: 0;

}

.eightd {
	position: absolute;
	top: 0;
	left: 360px;
	right: 0;
	bottom: 0;
}

.eighte {
	position: absolute;
	top: 0;
	left: 480px;
	right: 0;
	bottom: 0;
}

.eightf {
	position: absolute;
	top: 0;
	left: 600px;
	right: 0;
	bottom: 0;
}

.eightg {
	position: absolute;
	top: 0;
	left: 720px;
	right: 0;
	bottom: 0;
}

.eighth {
	position: absolute;
	top: 0;
	left: 840px;
	right: 0;
	bottom: 0;
}

.sevena {
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	bottom: 0;
}

.sevenb {
	position: absolute;
	top: 120px;
	left: 120px;
	right: 0;
	bottom: 0;
}

.sevenc {
	position: absolute;
	top: 120px;
	left: 240px;
	right: 0;
	bottom: 0;
}

.sevend {
	position: absolute;
	top: 120px;
	left: 360px;
	right: 0;
	bottom: 0;
}

.sevene {
	position: absolute;
	top: 120px;
	left: 480px;
	right: 0;
	bottom: 0;
}

.sevenf {
	position: absolute;
	top: 120px;
	left: 600px;
	right: 0;
	bottom: 0;
}

.seveng {
	position: absolute;
	top: 120px;
	left: 720px;
	right: 0;
	bottom: 0;
}

.sevenh {
	position: absolute;
	top: 120px;
	left: 840px;
	right: 0;
	bottom: 0;
}


.sixa {
	position: absolute;
	top: 240px;
	left: 0;
	right: 0;
	bottom: 0;
}

.sixb {
	position: absolute;
	top: 240px;
	left: 120px;
	right: 0;
	bottom: 0;
}

.sixc {
	position: absolute;
	top: 240px;
	left: 240px;
	right: 0;
	bottom: 0;
}

.sixd {
	position: absolute;
	top: 240px;
	left: 360px;
	right: 0;
	bottom: 0;
}

.sixe {
	position: absolute;
	top: 240px;
	left: 480px;
	right: 0;
	bottom: 0;
}

.sixf {
	position: absolute;
	top: 240px;
	left: 600px;
	right: 0;
	bottom: 0;
}

.sixg {
	position: absolute;
	top: 240px;
	left: 720px;
	right: 0;
	bottom: 0;
}


.sixh {
	position: absolute;
	top: 240px;
	left: 840px;
	right: 0;
	bottom: 0;
}

.fivea {
	position: absolute;
	top: 360px;
	left: 0;
	right: 0;
	bottom: 0;
}

.fiveb {
	position: absolute;
	top: 360px;
	left: 120px;
	right: 0;
	bottom: 0;
}

.fivec {
	position: absolute;
	top: 360px;
	left: 240px;
	right: 0;
	bottom: 0;
}

.fived {
	position: absolute;
	top: 360px;
	left: 360px;
	right: 0;
	bottom: 0;
}

.fivee {
	position: absolute;
	top: 360px;
	left: 480px;
	right: 0;
	bottom: 0;
}

.fivef {
	position: absolute;
	top: 360px;
	left: 600px;
	right: 0;
	bottom: 0;
}

.fiveg {
	position: absolute;
	top: 360px;
	left: 720px;
	right: 0;
	bottom: 0;
}

.fiveh {
	position: absolute;
	top: 360px;
	left: 840px;
	right: 0;
	bottom: 0;
}

.foura {
	position: absolute;
	top: 480px;
	left: 0;
	right: 0;
	bottom: 0;
}

.fourb {
	position: absolute;
	top: 480px;
	left: 120px;
	right: 0;
	bottom: 0;
}

.fourc {
	position: absolute;
	top: 480px;
	left: 240px;
	right: 0;
	bottom: 0;
}

.fourd {
	position: absolute;
	top: 480px;
	left: 360px;
	right: 0;
	bottom: 0;
}

.foure {
	position: absolute;
	top: 480px;
	left: 480px;
	right: 0;
	bottom: 0;
}

.fourf {
	position: absolute;
	top: 480px;
	left: 600px;
	right: 0;
	bottom: 0;
}

.fourg {
	position: absolute;
	top: 480px;
	left: 720px;
	right: 0;
	bottom: 0;
}

.fourh {
	position: absolute;
	top: 480px;
	left: 840px;
	right: 0;
	bottom: 0;
}


.threea {
	position: absolute;
	top: 600px;
	left: 0;
	right: 0;
	bottom: 0;
}

.threeb {
	position: absolute;
	top: 600px;
	left: 120px;
	right: 0;
	bottom: 0;
}

.threec {
	position: absolute;
	top: 600px;
	left: 240px;
	right: 0;
	bottom: 0;
}

.threed {
	position: absolute;
	top: 600px;
	left: 360px;
	right: 0;
	bottom: 0;
}

.threee {
	position: absolute;
	top: 600px;
	left: 480px;
	right: 0;
	bottom: 0;
}

.threef {
	position: absolute;
	top: 600px;
	left: 600px;
	right: 0;
	bottom: 0;
}

.threeg {
	position: absolute;
	top: 600px;
	left: 720px;
	right: 0;
	bottom: 0;
}

.threeh {
	position: absolute;
	top: 600px;
	left: 840px;
	right: 0;
	bottom: 0;
}

.twoa {
	position: absolute;
	top: 720px;
	left: 0;
	right: 0;
	bottom: 0;
}

.twob {
	position: absolute;
	top: 720px;
	left: 120px;
	right: 0;
	bottom: 0;
}

.twoc {
	position: absolute;
	top: 720px;
	left: 240px;
	right: 0;
	bottom: 0;
}

.twod {
	position: absolute;
	top: 720px;
	left: 360px;
	right: 0;
	bottom: 0;
}

.twoe {
	position: absolute;
	top: 720px;
	left: 480px;
	right: 0;
	bottom: 0;
}

.twof {
	position: absolute;
	top: 720px;
	left: 600px;
	right: 0;
	bottom: 0;
}

.twog {
	position: absolute;
	top: 720px;
	left: 720px;
	right: 0;
	bottom: 0;
}

.twoh {
	position: absolute;
	top: 720px;
	left: 840px;
	right: 0;
	bottom: 0;
}

.onea {
	position: absolute;
	top: 840px;
	left: 0;
	right: 0;
	bottom: 0;
}

.oneb {
	position: absolute;
	top: 840px;
	left: 120px;
	right: 0;
	bottom: 0;
}

.onec {
	position: absolute;
	top: 840px;
	left: 240px;
	right: 0;
	bottom: 0;
}

.oned {
	position: absolute;
	top: 840px;
	left: 360px;
	right: 0;
	bottom: 0;
}

.onee {
	position: absolute;
	top: 840px;
	left: 480px;
	right: 0;
	bottom: 0;
}

.onef {
	position: absolute;
	top: 840px;
	left: 600px;
	right: 0;
	bottom: 0;
}

.oneg {
	position: absolute;
	top: 840px;
	left: 720px;
	right: 0;
	bottom: 0;
}

.oneh {
	position: absolute;
	top: 840px;
	left: 840px;
	right: 0;
	bottom: 0;
}

.fillb{
	background: white;
	border-radius: 50%;
	border: 10px solid grey;
	width: 100px;
	height: 100px;
	z-index: 2; 
	top: 0;
	bottom: 0;
}

.filla{
	background: black;
	border-radius: 50%;
	border: 10px solid #696969;
	width: 100px;
	height: 100px;
	z-index: 2; 
	top: 0;
	bottom: 0;
}














