include bem/header/header.pug
include bem/info/info.pug
include bem/participants/participants.pug
include bem/partners/partners.pug
include bem/jury/jury.pug
include bem/form/form.pug
include bem/footer/footer.pug


html(lang="en")
head
    meta(charset="UTF-8")
    title Event
    link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel='stylesheet' href='style.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400', rel='stylesheet')      
body
    .layout
        +header
        +info({
            items:[
            {
                num:'01.',
                text:'Cras ultricies ligula sed mag.'
            },
            {
                num:'02.',
                text:'Pellentesque in ipsum id orci porta dapibus.'
            },
            {
                num:'03.',
                text:'Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem'
            },
            {
                num:'04.',
                text:'Cras ultricies ligula sed magna dictum portaurabitur arcu.'
            },
            {
                num:'05.',
                text:'Proin eget tortor risus.'
            },
            {
                num:'06.',
                text:'Nulla quis lorem ut libero malesuada feugiat.'
            },
            ],
            classes: 'info_text__small',
            start: 'info_text__start',
            buttonModifier: 'button__color',
        })
        +participants({
            time:[
            {
            num: '37',
            text: 'DAYS'
            },
            {
            num: '13',
            text: 'HOURS'
            },
            {
            num: '45',
            text: 'MINUTES'
            },
            {
            num: '26',
            text: 'SECOND'
            },
            ]
            })
        +partners
        +jury
        +form
        +footer
