mixin jury()
    .jury
        .jury_container
            .jury_h1 Jury 2017
            .jury_row-1
                .jury_1
                .jury_2
                .jury_3
            .jury_row-2
                p.name <span>John Stone</span><br>
                    |Creative Director at Amazing Game
                p.name <span>John Stone</span><br>
                    |Creative Director at Amazing Game
                p.name <span>John Stone</span><br>
                    |Creative Director at Amazing Game