mixin footer()
	.footer
          p.footer_agreement
            | By clicking on "Sign up for free", you agree to the
            a.link(href='') Teams of Service
            |         and the
            a.link(href='') Privacy Policy