body{
    width: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
}
.layout{
    width: 500px;
    height: 100vh;
    margin: 0 auto;
}
.layout_bg{
    background: linear-gradient(to bottom, pink, orange);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    background: url('logo.svg');
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 90px;
}
.h1{
    margin: 0 auto;
    font-size: 32px;
    margin-bottom: 60px;
    font-style: bold;
}
.email{
    width: 420px;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 15px;
}
.pass{
    width: 420px;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 15px;
}
.button{
    width: 420px;
    height: 40px;
    background-color: blue;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 18px;
    font-size: 16px;
}
.form{
    margin: 0 auto;
}
.text{
    font-size: 12px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}
.or {
    font-size: 16px;
    position: relative;
}
.or:before{
    content: "";
    position: absolute;
    right: 40;
    bottom: 8;
    border-top: 1px solid white;
}
.or:after{
    content: "";
    position: absolute;
    left: 40;
    bottom: 8;
    border-top: 1px solid white;
}
.social {
    margin: 0 auto;
    display: flex;
    margin-bottom: 300px;
}
.img{
    background: url('fb.svg');
}
.footer{
    margin: 0 auto;
    display: flex;
}

