mixin form()
    form.form
        fieldset.form_main
            .form_header
                .form_h1 Contact Us
                p.form_text 
                    |Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada.
            .form_button
                .button_row
                    label
                        input.button_field.button_field-1-2(placeholder='First name', type='text')
                    label
                        input.button_field.button_field-1-2(placeholder='Last name', type='text')
                .button_row
                    label
                        input.button_field.button_field-1-2(placeholder='Email', type='text')
                    label
                        input.button_field.button_field-1-2(placeholder='Website', type='text')
                .button_row
                    label
                        input.button_field.button_field-1(placeholder='Message', type='text')
                .button_row
                    label
                        input.button_field.button_field-sign(name='sign', value='send massege', type='button')
