mixin form()
    form.form
        fieldset.form_main
            .form_h1 Contact Us
            p.form_text 
                |Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada.
            .form_button
                .row.row_1
                    label.button_label
                        input.button_field.button_field-1-2(placeholder='First name', type='text')
                    label.button_label
                        input.button_field.button_field-1-2(placeholder='Last name', type='text')
                .row.row_2
                    label.button_label
                        input.button_field.button_field-1-2(placeholder='Email', type='text')
                    label.button_label
                        input.button_field.button_field-1-2(placeholder='Website', type='text')
                .row.row_3
                    label.button_label
                        input.button_field.button_field-1(placeholder='Message', type='text')
                .row.row_4
                    label
                        input.button_field.button_field-sign(name='sign', value='send massege', type='button')
