include ../../bem/button/button.pug

mixin aboutus(props)

    .aboutus.layout
        .aboutus_content.layout_section
            .aboutus_description
                .aboutus_h1 Why Choose Us
                p.aboutus_p Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee 
                p.aboutus_p Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
                +button({
                    search: false,
                    about: true,
                    place: false,
                }) 
            .aboutus_gallery
                img.aboutus_picture(src="img/aboutus_house.jpeg")
                img(src="img/aboutus_mountine.jpeg")
